<!DOCTYPE html>




<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - School Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">School Portal</a>
             
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classes <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Years")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">View Classes</span></a></li>

                            <li role="separator" class="divider"></li>

                            <li role="separator" class="divider"></li>

                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="@Url.Action("New", "Student")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">Register New Student</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Student")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">View Students</span></a></li>



                            <li role="separator" class="divider"></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Subjects <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Subjects")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">Create New Subject</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Subjects")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">View Subjects</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Create", "StudentsSubjects")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">Enrol Students To Subjects</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "StudentsSubjects")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">View Students &amp; Enrolled Subjects</span></a></li>





                            <li role="separator" class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>




                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Teachers")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">Register New Teacher</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Teachers")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">View Teachers</span></a></li>


                            <li role="separator" class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>









                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Library<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li role="separator" class="divider"></li>



                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("New", "Home")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title">Add School Picture</span></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Teachers")"><span class="sidebar-icon"><i class="fa fa-bullseye"></i></span> <span class="menu-title"></span></a></li>


                            <li role="separator" class="divider"></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>


                </ul>



                @*<form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@



                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.Partial("_LoginPartial")</li>
             
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>





    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("School Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">


                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Library", "", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@















    <div class="container body-content">
        @RenderBody()
        <hr />


        <br />
        <br />

        <footer>
            <p>&copy; @DateTime.Now.Year - School Portal 2020</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)




</body>
</html>
