@model IEnumerable<SchoolPortal.Models.Subjects>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassMark)
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SubjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PassMark)
    </td>
    <td>
        Primary -@Html.DisplayFor(modelItem => item.YearId)
    </td>
   
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SubjectsId }) |
        @Html.ActionLink("Details", "Details", new { id = item.SubjectsId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SubjectsId })
    </td>
</tr>
}

</table>
