@{
    ViewBag.Title = "Home Page";
}



<br/>

<div class="jumbotron">
    <h2>Admin Tools</h2>

    <div class="row">
        <div class="col-md-3">
            <input type="button" value="View Students" onclick="location.href='@Url.Action("Index", "Student")'" class="btn btn-primary btn-lg" />

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Add Student" onclick="location.href='@Url.Action("New", "Student")'" class="btn btn-primary btn-lg" /></p>

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Classes" onclick="location.href='@Url.Action("", "")'" class="btn btn-primary btn-lg" /></p>

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Run Reports" onclick="location.href='@Url.Action("", "")'" class="btn btn-primary btn-lg" /></p>

        </div>
    </div>




    <div class="row">
        <div class="col-md-3">
            <input type="button" value="Report Card" onclick="location.href='@Url.Action("Index", "Student")'" class="btn btn-primary btn-lg" />

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Add Student" onclick="location.href='@Url.Action("New", "Student")'" class="btn btn-primary btn-lg" /></p>

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Under Construction" onclick="location.href='@Url.Action("", "")'" class="btn btn-primary btn-lg" /></p>

        </div>
        <div class="col-md-3">
            <p class="lead"><input type="button" value="Under Construction" onclick="location.href='@Url.Action("", "")'" class="btn btn-primary btn-lg" /></p>

        </div>
    </div>






</div>

     
       



        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>habitant morbi tristique senectus et netus et malesuada fames ac</p>

                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Something New &raquo;</a></p>

            </div>

            <div class="col-md-4">

                <h2>Get more libraries</h2>
                <p>habitant morbi tristique senectus et netus et malesuada fames ac</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Something New &raquo;</a></p>

            </div>

            <div class="col-md-4">

                <h2>Web Hosting</h2>
                <p>habitant morbi tristique senectus et netus et malesuada fames ac</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Something New &raquo;</a></p>
            </div>


        </div>
