@model IEnumerable<SchoolPortal.Models.Year>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YearName)
        </th>


        <th><label><b>Class Teacher</b></label></th>

        <th><label><b>Number of Enrolled Students</b></label></th>

        <th><label><b>Select Action</b></label></th>



        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.YearName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Teacher.Title)
        @Html.DisplayFor(modelItem => item.Teacher.FirstName)
        @Html.DisplayFor(modelItem => item.Teacher.LastName)
    </td>
  

    <td>@Html.DisplayFor(modelItem => item.Students.Count)</td>


    <td>
        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Select Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("View Details", "Details", "Years", new { id = item.YearId }, null)</li>
                <li>@Html.ActionLink("Edit Student", "Edit", "Years", new { id = item.YearId }, null)</li>
                <li>@Html.ActionLink("Delete", "Details", "Years", new { id = item.YearId }, null)</li>
            </ul>
        </div>
    </td>


  
</tr>
}

</table>
