@model SchoolPortal.Models.Student


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.FirstName @Model.MiddleName @Model.Lastname</h2>

<ul>
  
    <li>@Model.EmailAddress</li>
    <li>@Model.Type</li>
    <li>@Model.Gender</li>
    <li>@Model.Form</li>
</ul>
