@model SchoolPortal.Models.Student

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.FirstName @Model.MiddleName @Model.Lastname</h3>

<hr />


<div class="row">
	<div class="col-md-6">
		<div><b>Home Address :</b> @Model.HouseNumberOrName @Model.FirstLineofAdd @Model.SecondLineofAdd @Model.Area </div>
		<hr />
		<div><b>Date of birth :</b> @Model.DateOfBirth.Value.ToShortDateString()</div>

		@{
			var date = DateTime.Now.Subtract(@Model.DateOfBirth.Value).Days.ToString();
			var age = @Convert.ToInt32(date) / 365;
		}
		<hr />
		<div><b>Age :</b>  @age</div>
		<hr />
		<div><b>Tribe :</b> @Model.Tribe.TribeName</div>



	</div>
	<div class="col-md-6">
		<div><b>Class :</b> Primary @Model.YearId</div>
		<hr />
		<div><b>Gender :</b>  @Model.Gender.Name</div>
		<hr />
		<div><b>Religion :</b> @Model.Religion.ReligionName  </div>
		<hr />
	



	</div>

</div>

	