@model SchoolPortal.Models.Student


@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


	







<h3>@Model.FirstName @Model.MiddleName @Model.Lastname</h3>
<ul>
	<li>@Model.EmailAddress</li>

	<li>@Model.Year</li>


	<li>@Model.DateOfBirth.Value.ToShortDateString()</li>
	@*<li>@(DateTime.Today.Subtract(@Model.DateOfBirth.Value).Days.ToString())</li>*@
	@{
		var date = DateTime.Now.Subtract(@Model.DateOfBirth.Value).Days.ToString();
		var age = @Convert.ToInt32(date) / 365;
	}
	<li>@age</li>

	<li>@Model.StudentAddress.Address1</li>
	<li>@Model.StudentAddress.Address2</li>
	<li>@Model.StudentAddress.City</li>
	<li>@Model.StudentAddress.State</li>
</ul>
