@model SchoolPortal.Models.Student

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.FirstName @Model.MiddleName @Model.Lastname</h3>
<p>

	<div><b>Class :</b> Primary @Model.YearId</div>

	<div><b>Date of birth :</b> @Model.DateOfBirth.Value.ToShortDateString()</div>

	@{
		var date = DateTime.Now.Subtract(@Model.DateOfBirth.Value).Days.ToString();
		var age = @Convert.ToInt32(date) / 365;
	}
	<div><b>Age :</b>  @age</div>

	<div><b>Home Address :</b> @Model.StudentAddress.Address1 @Model.StudentAddress.Address2</div>

	<div><b>City :</b> @Model.StudentAddress.City</div>
	<div><b>State :</b> @Model.StudentAddress.State</div>
	<div><b>Religion :</b></div>
	<div><b>Tribe :</b></div>
</p>