@model IEnumerable<SchoolPortal.Models.Student>

@{
	ViewBag.Title = "Students";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Students</h2>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th><b> Name</b></th>

			<th><b>Class</b></th>
			<th><b>Gender</b></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var students in Model)
		{
		<tr>
			<td>@students.FirstName @students.MiddleName  @students.Lastname</td>
			<td>@students.Year.YearName</td>
			<td>@students.GenderId</td>
			



			<td>
				<div class="btn-group">
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Select Action
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>@Html.ActionLink("View Details", "Details", "Student", new { id = students.Id }, null)</li>
						<li>@Html.ActionLink("Edit Student", "Edit", "Student", new { id = students.Id }, null)</li>
						<li>@Html.ActionLink("View Details", "Details", "Student", new { id = students.Id }, null)</li>
					</ul>
				</div>
			</td>
		</tr>
		}
	</tbody>
</table>