@model SchoolPortal.ViewModels.NewStudentViewModel

@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register New Student</h2>

<br/>

@using (Html.BeginForm("Create", "Student"))
{
	<div class="form-group">

		@Html.LabelFor(m => m.Student.FirstName)
		@Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Student.MiddleName)
		@Html.TextBoxFor(m => m.Student.MiddleName, new { @class = "form-control" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Student.Lastname)
		@Html.TextBoxFor(m => m.Student.Lastname, new { @class = "form-control" })
	</div>

	<div>

		@Html.LabelFor(m => m.Student.Gender)
		@Html.DropDownListFor(m => m.Student.GenderId, new SelectList(Model.Genders, "GenderId", "Name"), "", new { @class = "form-control" })
	</div>

	<br />

	<div>
		@Html.LabelFor(m => m.Student.Year)
		@Html.DropDownListFor(m => m.Student.YearId, new SelectList(Model.Years, "YearId", "YearName"), "", new { @class = "form-control" })
	</div>

	<br />

	<div class="form-group">
		@Html.LabelFor(m => m.Student.DateOfBirth)
		@Html.TextBoxFor(m => m.Student.DateOfBirth, new { @class = "form-control datepicker", placeholder = "dd/mm/yyyy" })
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Student.EmailAddress)
		@Html.TextBoxFor(m => m.Student.EmailAddress, new { @class = "form-control", })
	</div>

	<br />

	<button type="submit" class="btn btn-primary">Save</button>

}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts{
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
	<script>

		$(function () {

			$(".datepicker").datepicker({

				dateFormat: "dd-mm-yy",
				changeMonth: true,
				changeYear: true,
				yearRange: "-35:+35",
			});

		});
	</script>

}

@*<div>
			@Html.LabelFor(m => m.Student.Type)
			@Html.DropDownList("Please select", new List<SelectListItem>

					 {
						new SelectListItem{ Text=" ", Value = "0" },
						new SelectListItem{ Text="Day Student", Value = "1" },
						new SelectListItem{ Text="Boarding Student", Value = "2" },

					 }, htmlAttributes: new { @class = "form-control" })
		</div>

	<div>
		@Html.LabelFor(m => m.Student.Form.Name)
		@Html.DropDownListFor(m => m.Student.Form.Name, new SelectList(Model.Form, "Name", "Name"), "", new { @class = "form-control" })
	</div>

*@




