@model IEnumerable<SchoolPortal.Models.Teacher>

@{
    ViewBag.Title = "Teachers";
}

<h2>Teachers</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
           <label><b>Teacher's Name</b></label>
        </th>
        <th>
            Class
        </th>
       
       
      
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title.TitleName) @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Year.YearName)
    </td>




    <td>
        <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Select Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("View Details", "Details", "Teachers", new { id = item.TeacherId }, null)</li>
                <li>@Html.ActionLink("Edit", "Edit", "Teachers", new { id = item.TeacherId }, null)</li>
                <li>@Html.ActionLink("Remove", "Delete", "Teachers", new { id = item.TeacherId }, null)</li>
                @*<li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>*@

            </ul>
        </div>
    </td>
</tr>
    }

</table>


<td>
    @*@Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
        @Html.ActionLink("Details", "Details", new { id = item.TeacherId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })*@
</td>